/* @IMPORT */


/* ------ RESET ------- */
*{
    /* Restringir as caixas com seus respectivos 
    tamanhos  para não transbordar sua medidas*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none; /* Retira a linha de baixo dos links */
    list-style: none; /* Remove os marcadores de lista */
}

/* ------ Estilos gerais ----- */
/* Definimos a fonte padrão e a cor de fundo */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;

    /* Cor da fonte */
    color: #222;

    /* Espaçamento entre linhas */
    line-height: 1.6;
}

/* Altera o titulo */
body>header{
    background-color: #8a8bb6;
    color: #f1f1ff;
    padding: 10px 20px;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* header>h1{
    da um espaçamento para as letras
    letter-spacing: 15px;
} */

/* Navegação (NAV)*/
nav ul{
    display: flex;/* Display flex torna a lista horizontal */
    gap: 10px; /* Cria um espaço entre cada item da lista */
    justify-content: center;
}

nav a{
    color: white;
    font-weight: bold;
    font-size: 110%;
}

/* muda a cor do menu */
nav a:hover{
    background-color: rgb(138, 225, 225);
    text-decoration: underline;
}

/* Conteudo principal (main) */
main{
    padding: 25px; /* Padding => Preenchimento das laterais internas */
    max-width: 1100px; /* Limita a largura para não ficar esticado em telas wide */
    margin: 0 auto; /* Centraliza o main na tela(só funciona com o width) */

    /* Layout interno */
    display: flex;
    flex-wrap: wrap; /* Quebra a linha se não couber */
    gap: 20px;
}

/* Artigo(Article) Onde fica o texto principal flex: 3; 
Ocupa 3 partes do espaço */

article{
    flex: 3;
    min-width: 300px;
    background:  rgb(250, 249, 249);
    padding: 20px;
    border-radius: 8px; /* Arredonda os cantos */
    /* box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

article section{
    /* 
    margin-top: 25px;
    margin-bottom: 30px; 
    */
    margin: 30px 0;
}

/* Titulos das seções */

article h2, article h3{
    color: #ff6f61;
    margin-bottom: 16px;
    text-align: center;
}

/* Listas Personalizadas */

article ul, article ol{
    margin-left: 20px;
    /* border-left: 2px solid rgb(145, 66, 66);
    padding-left: 15px; */
}

figure{
    margin: 16px;
    text-align: center;
    padding: 20px;
    background-color: #eceaea;
    border: 1px solid rgb(225, 236, 236);
    border-radius: 9px;
}

figure img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0 80%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
    border-radius: 7px;
}

figcaption{
    font-style: italic;
    color: #999;
    margin-top: 10px;
}

/* Barra Lateral */

aside{
    flex: 1;
    padding: 20px;
    min-width: 250px;
    background: rgb(250, 249, 249);
    border-radius: 7px;
    height: fit-content; /* altura ajustada ao conteudo */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}

aside h2{
    line-height: 1.3; /* Entre linhas */
    margin-bottom: 16px;
}

details{
    margin-bottom: 10px;
    cursor: pointer; /* transforma o cursor em uma maozinha */
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

details[open] summary{
    margin-bottom: 10px;
}

summary{
    font-weight: bold;
}

mark{
    background-color: #ff6f61;
}

footer{
    background-color: #999;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a{
    color: #ff6f61;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


/* inicio do estilo da pagina fotos */

/* HEADER SEGUE ACIMA */

/* INICIO MAIN-FOTOS */

#main-fotos header, #main-fotos h3{
    margin-bottom: 15px;
    /* max-width: 1100px;
    margin: 0 auto;  */
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}


